@keyframes slide-right {
  0% {
    transform: translateX(-100%)
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%)
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%)
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%)
  }
}

@keyframes pulse-back {
  50% {
    transform: translateY(-20%) scale(.6);
  }
}
