<section class="about">
<!--   <img src="./img/pngwingcom_negate.png" alt="" class="about__back">-->
   
   <div class="about__title">
      <p class="about__title-text">Lorem Ipsum</p>
   </div>
   <i class="about__divider"></i>
   <ul class="about__content">
      <li class="about__item about__item_first">
         <p>Первый</p>
      </li>
      <li class="about__item about__item_second">
         <p>Второй</p>
      </li>
      <li class="about__item about__item_third">
         <p>Третий</p>
      </li>
      <li class="about__item about__item_fourth">
         <p>Четвертый</p>
      </li>
   </ul>


</section>