.offer {
  position: relative;
  height: calc(100vh - 120px);
  z-index: 0;

  &__title {
    margin: 0;
    padding: 0;
    font-family: 'a-assuan', Arial, sans-serif;
    font-size: 80px;
    line-height: 100px;
    color: var(--font-color-main);
    opacity: .7;
    visibility: hidden;
    &_outline {
      font-family: 'a-assuanotl', Arial, sans-serif;
      opacity: .5;
    }
    &_first-left {
      grid-column: 1/2;
    }
    &_first-right {
      grid-column: 2/3;
    }
    &_second-left {
      grid-column: 1/2;
    }
    &_second-center {
      grid-column: 3/4;
    }
    &_second-right {
      grid-column: 4/5;
    }
    &_third-right {
      grid-column: 2/3;
    }
    &_active-down {
      visibility: visible;
      animation: slide-down linear .5s;
    }
    &_active-up {
      visibility: visible;
      animation: slide-up linear .5s;
    }
    &_active-left {
      visibility: visible;
      animation: slide-left linear .5s;
    }
    &_active-right {
      visibility: visible;
      animation: slide-right linear .5s;
    }
  }

  &__content {
    position: relative;
    margin: 0;
    padding: 30px 0;
    border-bottom: solid 1px var(--color-main);
    visibility: hidden;
    &_active {
      visibility: visible;
      animation: slide-left linear 1s;
    }
    &-first {
      overflow: hidden;
      display: grid;
      grid-template: auto / repeat(2, max-content) 1fr;
      gap: 50px;
    }
    &-second {
      overflow: hidden;
      display: grid;
      grid-template: auto / max-content 1fr repeat(2, max-content);
      gap: 30px;
    }
    &-third {
      overflow: hidden;
      display: grid;
      grid-template: auto / 1fr max-content;
      gap: 30px;
    }
  }

  &__back {
    visibility: hidden;
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: calc(100vh + 40px);
    opacity: .1;
    &_active {
      visibility: visible;
      animation: fade-out linear .5s;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    bottom: -90px;
    left: 50px;
    border-radius: 25px;
    margin: 0 0 0 50px;
    padding: 30px;
    background-color: var(--back-color-accent);
    max-width: 600px;
    text-align: justify;
    color: var(--font-color-main);
    visibility: hidden;
    &_active {
      visibility: visible;
      animation: slide-up linear .5s;
    }
  }

}
