<section class="stack">

   <h2 class="stack__title">Владение<br>технологиями</h2>
   
   <div class="stack__content">
      <p class="stack__text">HTML</p>
      <p class="stack__text">CSS/SASS</p>
      <p class="stack__text">JavaScript</p>
      <p class="stack__text">TypeScript</p>
      <p class="stack__text">REST API</p>
      <p class="stack__text">React JS</p>
      <p class="stack__text">Redux</p>
      <p class="stack__text">Redux Toolkit</p>
      <p class="stack__text">Firebase</p>
   </div>
   
</section>